#Игнорирование директории tmp в корневом каталоге проекта
/tmp/
# игнорирование всех файлов с _old
*.*_old
# игнорирование всех файлов с суффиксом _backup
*.*_backup
# игноиррование отдельных файлов:
Thumbs.db
.DS_Store
